@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Titan+One&display=swap');

:root {
  --bg-color: #ddd;
  --color-text: #130101;
  --color-secondary: #ff914d;
  --color-tertiary:#ff5757;
  --color-btn:#ff443a;
  --font-text: 'Open Sans', sans-serif;
  --font-title: 'Grandstander', sans-serif;
  --font-brand: 'Titan One', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  /* padding:0; --- ORIGINAL*/
  padding: 6rem 0 0 0;

  /* AGRAGADO POR DARO */
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  max-width: 1440px;
}