/* .calendar-container {
    padding: 20px;
  }
  
  .rbc-calendar {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .rbc-toolbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .rbc-toolbar button {
    background-color: #f9944e;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
  }
  
  .rbc-toolbar button:hover {
    background-color: #f95859;
  }
  
  .rbc-event {
    background-color: #f9944e;
    border-radius: 5px;
    padding: 2px 5px;
    color: white;
  }
  
  .rbc-event:hover {
    background-color: #f95859;
  }
   */