.cardsContainer{
    height: 100vh;
    display: flex;
    gap: 0.7rem;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

a {
    text-decoration: none;
    /* color: black; */
}

.card {
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    transition: transform .3s; /* Animación para el hover */
}

.card:hover {
    transform: scale(1.1);
}

.imageContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
}

.icon-and-text {
    position: absolute;
    scale: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-and-text > h5 {
    margin-top: 2rem;
    font-size: 3.5rem;
    text-align: center;
    font-weight: 600;
    white-space: nowrap;
}

/* Solo para aclarar un poco el red circle */
/* .card-back-opacity {
    opacity: 0.95;
} */

@media screen and (max-width: 500px){
    .cardsContainer{
        gap: 0.3rem;
    }

    .card {
        width: 10rem;
    }

    .icon-and-text {
        scale: 20%;
    }

    /* .icon-and-text > h5 {
        font-size: 4rem;
    } */

    .card:hover {
        transform: scale(1.05);
    }
}

@media screen and (max-width: 768px){
    .cardsContainer{
        gap: 0.5rem;
    }

    .card {
        width: 12.5rem;
    }

    .icon-and-text {
        scale: 25%;
    }

    /* .icon-and-text > h5 {
        font-size: 4rem;
    } */

    .card:hover {
        transform: scale(1.05);
    }
}