.container-footer{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
    width: 100vw;
    max-width: 100vw;
    height: 35vh;
    gap: 1rem;
    background-color: var(--color-tertiary);
    background-size: cover;
    background-image: url("../../assets/wave2.svg");
}

.redes-footer {
    display: flex;
    flex-flow: column nowrap;
    align-items:flex-start;
    justify-content: center;
    width: 20vw;
    padding-top: 4rem;
}
.rs-footer img {
    width: 25px;
    padding-bottom: 10px;
}
.rs-footer a {
    text-decoration: none;
    color: var(--bg-color);
    font-family: var(--font-text);
    font-size: 1rem;
    padding-bottom: 10px;
}
.rs-footer p {
    color: var(--bg-color);
    font-size: 0.9rem;
    font-family: var(--font-text);
    margin: 0;
}
.footer-derechos {
    display: flex;
    flex-flow: row wrap;
    width: 20vw;
    padding-top: 4rem;
}
.footer-cr {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    font-family: var(--font-text);
    font-size: 075rem;
    color: var(--bg-color);
    text-align: center;
    padding-top: 2rem;
}
.footer-cr img{
    width: 15px;
}
.footer-cr-p {
    padding-bottom: 0;
}
.brand-footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 20vw;
    text-align: center;
    padding-top: 3rem;
    padding-right: 4rem;
}
.footer-brand{
    display: flex;
    text-decoration: none;
    font-family: var(--font-brand);
    color: var(--color-secondary);
    font-size: 2.5rem;
    padding-top: 2rem;
}
.footer-brand img {
    width: 50px;
    height: 45px;
    text-align: left;
    padding-top: 10px;
}
 .footer-mail {
    color: var(--bg-color);
    font-family: var(--font-text);
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
}

@media screen and (max-width: 768px){
    .container-footer{
        display:flex;
        flex-flow: row wrap;
        align-content: center;
        justify-content: space-around;
        overflow:hidden;
        height: 50vh;
        padding:2rem;
        gap: 0;
    }
    .redes-footer {
        width: 100vw;
        padding: 0;
        align-items: center;
        justify-content:center;
        margin-top: 2rem;
    }
    .footer-derechos {
        display:flex;
        width: 100vw;
        padding: 0;
        font-size: 0.7rem;
        justify-content: center;
    }
    .footer-cr img {
        width: 12px;
    }
    .footer-cr p{
        padding-bottom:5px;
        margin: 0;
        font-size: 0.75rem;
    }
    .brand-footer {
        align-items: center;
        justify-content:center;
        width: 100vw;
        padding: 0 0 2rem 0;
    }
    .footer-brand {
        padding-top: 0;
    }
    .footer-brand img {
        height: 40px;
        width: 40px;
        text-align: left;
    }
}
