nav li a {
    font-family: var(--font-text);
}
nav li a:hover {    
    transform: scale(1.1);
}

/* Para el color de fondo del header/navbar */
.navbar-custom-bg-color {
    background-color: var(--color-tertiary);
}

/* Para el color de texto de los links del header/navbar */
.navbar-custom-text-color {
    color: white !important;
}

.navbar-toggler {
    border-color: #130101;
    box-shadow: none !important;
}

.navbar-custom-toggler {
    background-color: --color-tertiary;
    border-color: white !important;
}

.navbar-custom-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

div > a.navbar-brand {
    cursor: pointer;
}