/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #ffffff;
    margin: 0 auto;
  } */
  
  label {
    color: black;
    text-align: left;
    margin: 13px;
    width: 25vh;
  }
  
  input {
    border: none;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    color: black;
  }
  
  input:focus {
    outline: none;
  }
  
  .register-container {
    display: flex;
    width: 100%;
    height: 100%;
  }
  
  .image-container {
    width: 100%;
    flex: 1;
  }
  
  .form-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  form {
    max-width: 80%;
  }
  
  .inputs {
    display: flex;
    align-items: center;
  }
  
  .btn-register {
    background-color: #ffffff;
    border: 2px solid #ff443a;
    color: black;
    padding: 5px 20px;
    border-radius: 50px;
    font-size: 15px;
    margin-left: 70%;
  }
  
  .btn-register:hover {
    background-color: #ff443a;
    border: 2px solid #ff443a;
    color: #ffffff;
    padding: 5px 20px;
    border-radius: 50px;
    font-size: 15px;
  }