 
.login-container{
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items:center;
}

.logn-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 40px; */
  flex: 1;
  width: 47%;
}

.title-h3 {
  font-family: var(--font-title);
  color: var(--color-secondary);
  font-size: 4.5vmax;
  padding: 30px 7px 0;
  margin: 0;
  flex-grow: 2;
}

.login-label {
    color: var(--color-text);
    text-align: left;
    margin: 13px;
    width: 25vh;
  }
  
  .login-input {
    border: none;
    border-bottom: 1px solid var(--color-text);
    box-sizing: border-box;
    color: var(--color-text);
  }
  
  .login-input:focus {
    outline: none;
  }
  .form-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .login-btn {
    color: var(--bg-color);
    background-color:var(--color-btn);
    border: 2px solid var(--color-btn);
    padding: 5px 10px;
    margin-top: 2rem;
    border-radius: 15px;
    font-size: 1rem;
    float:right;
  }
  .login-btn:hover {
    background-color: var(--color-secondary);
    color: var(--bg-color);
    
  }@media screen and (max-width: 375px){
    .login-container {
      padding: 2rem;
    }
    .title-h3 {
      padding: 0;
    }
    .title-h3-p {
      font-size: 1rem;
    }
    .login-label {
      width: 100%;
    }
    .login-input {
      width: 100%;
    }
  }