.container-nosotros {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:100%;
    font-family: var(--font-text);
    padding-top: 8rem;
  }
  .nosotros-content {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
  }
.container {
    padding: 5%;
}

.title {
    font-family: var(--font-title);
    font-size: 3rem;
    text-align: center;
    color: var(--color-tertiary);
    margin-bottom: 2rem;
}

p {
    font-family: var(--font-text);
    font-size: 1.1rem;
}

.cursiva {
    font-style: italic;
}

.negrita {
    font-weight: bold;
}