.container-banner {
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width:100vw;
    overflow-x: hidden;
}

.img-banner {
    background-image:url("../../assets/PetDocs-BannerImagen.png");
    height: 100vh;
    width: 100vw;
    background-position:center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    overflow:hidden;
    margin: 0;
    padding:0;
}
.text-banner {
    font-family: var(--font-text);
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    text-wrap: wrap;
    color: var(--bg-color);
    width: 75vw;
    align-self: flex-end;
    justify-self: center;
}
.text-nosotros {
    text-wrap: wrap;
    width: 75vw;
    align-self: flex-end;
    justify-self: center;
}
@media screen and (max-width: 500px){
    .img-banner {
        padding: 20px;
        overflow: hidden;
    }
    .text-banner {
        font-size: 1rem;
        padding-bottom: 30px;
    }
}