.container {
    padding: 5%;
    background: linear-gradient(rgba(255, 255, 255, 0.97), rgba(255, 255, 255, 0.97)), url('../../assets/paws-background.png');
}

.title {
    font-family: var(--font-title);
    font-size: 3rem;
    text-align: center;
    color: var(--color-tertiary);
    margin-bottom: 2rem;
}

p {
    font-family: var(--font-text);
    font-size: 1.1rem;
}

.cursiva {
    font-style: italic;
}

.negrita {
    font-weight: bold;
}

@media screen and (max-width: 500px){
    .container {
        padding: 3%;
    }

    .title {
        font-size: 2.2rem;
        margin-bottom: 1.5rem;
    }

    p {
        font-size: 0.9rem;
        text-align: center;
    }
}