.container-ownerpets {
    padding-top: 2rem;
  }
.card-ownerpets {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-content:center;
    gap: 4vw;
    border-radius: 24px;
    padding: 2rem;
}
.card-ownerpetsrow {
    width: 40vh;
    gap: 4vw;
    border: 3px solid var(--color-secondary);
    border-radius: 24px;
    padding: 0rem;
  }

  .ownerpets_picture>img {
    width: 250px;
    height: 200px;
    border-radius: 11px;
    border-image: 2px solid var(--color-secondary);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    margin: 60px 30px 30px 30px;
  }
  .ownerpetsform {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 0 5px 4px 0;
    text-align:center;
    margin: 30px;
  }
  .ownerpetsform h3 {
    font-family: var(--font-brand);
    font-size: 1.5rem;
    color: var(--color-secondary);
    margin: 20px;
  }
  
  .ownerpetsform input {
    border: 2px solid var(--color-secondary);
    border-radius: 11px;
    padding: 5px;
    width: 200px;
    text-align: center;
  }
  .ownerpetsform a {
    width: 200px;
    text-decoration:none;
    background-color: var(--color-btn);
    border: 2px solid var(--color-btn);
    color: var(--bg-color);
    border-radius: 14px;
    margin-top: 10px;
    padding: 3px;
    text-align: center;
  }
  .btn-vercalendario {
    background-color: var(--color-btn);
    color: var(--bg-color);
    border: 2px solid var(--color-btn);
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 1rem;
  }
  .btn-vermascota {
    color: var(--color-text);
    border: 2px solid var(--color-btn);
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 1rem;
  }
  .btn-vercalendario:hover, .btn-vermascota:hover {
    background-color: var(--color-secondary);
    border: 2px solid var(--color-btn);
    color: var(--bg-color);
  }