.container-petcard {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:100%;
    font-family: var(--font-text);
    margin-top: 25px;
}
.card {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-content:center;
    gap: 4vw;
    border: 3px solid var(--color-secondary);
    border-radius: 24px;
    padding: 2rem;
}
.card img{
    width: 55px;
    height:55px;
}

.pet_picture>img {
    width: 275px;
    height: 255px;
    border-radius: 11px;
    border-image: 2px solid var(--color-secondary);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    margin: 60px 30px 30px 30px;
}
form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 0 50px 40px 0;
    text-align:center;
    margin: 30px;
}
form h3 {
    font-family: var(--font-brand);
    font-size: 2.5rem;
    color: var(--color-secondary);
    margin: 20px;
}

form input {
    border: 2px solid var(--color-secondary);
    border-radius: 11px;
    padding: 5px;
    width: 200px;
    text-align: center;
}
form a {
    width: 200px;
    text-decoration:none;
    background-color: var(--color-btn);
    border: 2px solid var(--color-btn);
    color: var(--bg-color);
    border-radius: 14px;
    margin-top: 10px;
    padding: 3px;
    text-align: center;
}
