/* usar variables globales */
.container-petform {
    height: 75vh;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    margin: 0 3rem 5rem 3rem;;
  }
  
  .petform-info img {
    width: 50px;
  }  
  .petform-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    flex: 1;
  }    
  .petform-title{
    font-family: var(--font-title);
    color: var(--color-secondary);
    padding: 7px 0;
  }
  .pf-form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .petform-label {
    text-align: left;
    width: 250px;
  }
  .petform-input {
    border: 2px solid var(--color-secondary)!important;
    border-radius: 11px;
    padding: 5px;
    width: 300px;
  }
  .pf-col-25 {
    display: flex !important;
    float: left !important;
    width: 25%!important;
    margin-top: 5px !important;
    align-self: flex-start !important;
  }
  .pf-col-75 {
    float: right !important;
    width: 75% !important;
    margin-top: 5px !important;
  }

  .pf-col-75 .radio {
    margin: 0 10px;
  }
  .pf-button {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 20px;
    height: 5vh;
    gap: 2rem;
  }  
  .button-pf {
    background-color: var(--color-btn)!important;
    color: var(--bg-color);
    border: 2px solid var(--color-btn);
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 1rem;
  }
  @media screen and (max-width: 500px) {
    .container-petform {
      justify-content: space-around;
      margin:0;
      padding:0;
      flex-flow: column nowrap;
      height: 125vh;
      width:100%;
    }
    .petform-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1;
      width: 100%;
    }
    .pf-col-25 {
      display: flex !important;
      width: 100%!important;
      margin-top: 5px !important;
      align-self: flex-start !important;
    }
    .pf-col-75 {
      width: 100% !important;
      margin-top: 5px !important;
    }
    .petform-label {
      text-align: left;
      font-size: 0.9rem;
    }    
    .petform-input {
      width: 220px;
      font-size: 0.9rem;
    }
    .pf-button {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-content: center;
      align-items: center;
      margin-top: 20px;
      margin-right: 20px;
      height: 5vh;
    } 
    .button-pf {
      padding: 7px 10px;
    }
  }
  