.container-register {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-img-container {
  width: 47%;
  float: left;
  overflow: hidden;
  height: 80vh;
  object-fit: cover;
  object-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  scrollbar-width: none;
}

.register-info {
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  flex: 1;
  width: 47%;
}

.title-register-h3 {
  font-family: var(--font-title);
  color: var(--color-secondary);
  font-size: 4.5vmax;
  padding: 30px 7px 0;
  margin: 0;
}

.register-info p {
  display: flex;
  font-family: var(--font-text);
  font-weight: 400;
  text-align: center;
  text-wrap: wrap;
}

.register-form {
  margin: 0;
  padding: 0;
}

.register-label {
  color: var(--color-text);
  text-align: left;
  margin: 13px;
  width: 25vh;
}

.register-input {
  border: none;
  border-bottom: 1px solid var(--color-text);
  box-sizing: border-box;
  color: var(--color-text);
}

.register-input:focus {
  outline: none;
}

.register-btns {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.btn-register {
  color: var(--bg-color);
  background-color: var(--color-btn);
  border: 2px solid var(--color-btn);
  padding: 5px 10px;
  margin-top: 2rem;
  border-radius: 15px;
  font-size: 1rem;
  float: right;
}

.btn-register:hover {
  background-color: var(--color-secondary);
  border: 2px solid var(--color-btn);
  color: var(--bg-color);
}

@media screen and (max-width: 768px) {
  .register-label {
    color: var(--color-text);
    text-align: left;
    padding: 0;
    margin: 0;
    width: 90%;
  }

  .register-input {
    border: none;
    border-bottom: 1px solid var(--color-text);
    box-sizing: border-box;
    color: var(--color-text);
    width: 90%;
    padding: 0;
    margin: 0;
  }
}

@media screen and (max-width: 500px) {
  .container-register {
    height: 150vh;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    padding: 1rem;
  }

  .register-img-container {
    width: 100%;
    height: 75vh;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    object-position: initial;
    overflow: hidden;
    scrollbar-width: none;
  }

  .title-register-h3 {
    font-size: 6vmax;
    padding: 0 20px;
  }

  .register-label {
    color: var(--color-text);
    text-align: left;
    padding: 0;
    margin: 0;
    width: 90%;
  }

  .register-input {
    border: none;
    border-bottom: 1px solid var(--color-text);
    box-sizing: border-box;
    color: var(--color-text);
    width: 90%;
    padding: 0;
    margin: 0;
  }

  .register-btns {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-wrap: nowrap;
  }
}