.container-updateowner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.card-updateowner {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

h3 {
    margin-bottom: 20px;
    text-align: center;
}

.updateownerform {
    display: flex;
    flex-direction: column;
}

.updateownerform label {
    margin-bottom: 5px;
    font-weight: bold;
}

.updateownerform input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-update {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.btn-update:hover {
    background-color: #45a049;
}

p {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
}
